@import 'https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import './reset';
@import './variables/global';
@import './themes/normal';
@import './themes/dark';

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--font-color);
  background: var(--bg-color);
}

.content-page {
  display: flex;
  gap: 20px;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
