.button {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 5px;
}

.primary {
  padding: 10px;
  color: var(--primary-color);
  background: var(--secondary-color);
}
