.wrapper {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  transition: width 300ms ease-in-out;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  .collapseBtn {
    display: flex;
    justify-content: flex-end;

    .icon {
      width: 30px;
      height: 30px;
      stroke-width: 1.5;
      fill: var(--primary-color);
      color: var(--primary-color);
    }
  }

  .content {
  }

  .switchers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}

.collapsed {
  width: var(--sidebar-collapsed-width);
}
