.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding: 20px;
  background: var(--secondary-color);
  transition: width var(--transition-duration) ease-in-out;

  .collapse-btn {
    display: flex;
    justify-content: flex-end;
  }

  .collapse-btn-center {
    display: flex;
    justify-content: center;
  }

  .icon {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    color: inherit;
    stroke-width: 1.5;
  }

  .content {
    flex: 1 1 auto;

    .links {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 15px;

      .link-wrapper {
        display: flex;
        gap: 5px;
        align-items: center;
        overflow: hidden;
      }
    }

    .links-center {
      display: flex;
      justify-content: center;
    }
  }

  .switchers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}

.collapsed {
  width: var(--sidebar-collapsed-width);
}
