.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding: 20px;
  background: var(--secondary-color);
  transition: width 300ms ease-in-out;

  .collapse-btn {
    display: flex;
    justify-content: flex-end;

    .icon {
      width: 30px;
      height: 30px;
      color: var(--primary-color);
      fill: var(--primary-color);
      stroke-width: 1.5;
    }
  }

  .switchers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}

.collapsed {
  width: var(--sidebar-collapsed-width);
}
