.app.dark {
  --bg-color: #13005a;
  --inverted-bg-color: #effffb;
  --primary-color: #03c988;
  --secondary-color: #1c82ad;
  --other-color: #00337c;
  --font-color: #03c988;

  // ui-kit color

  // AppLink
  --link-color: #03c988;
}
