.language {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  .icon {
    width: 30px;
    height: 30px;
    color: inherit;
    stroke-width: 1.5;
  }
}
